<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tennis Tracker records the location where matches are played to help you remember where you played.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>TennisTracker URL Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tennistracker</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
